Formatting requirements for input data to the Scan Test

Required: DNA coordinates of variant data that has not previously been mapped to UniProt proteins. 

Both compressed and non-compressed file types and most standard delimiters will work with the code, with '.tsv.bgz' recommended. 

In order to map variants to UniProt canonical proteins, the input data for each variant must contain information on chromosome, locus, reference allele, and alternate allele. The following formats for this data will work when calling run.py without any additional arguments:

Single column named 'Variant ID':
- chr:pos:ref:alt form (example: 'chr1:925963:G:A')
- chr-pos-ref-alt form (example: 'chr1-925963-G-A')

Double columns named 'locus' and 'alleles':
- 'locus' is a string (example: 'chr1:925963')
- 'alleles' is a string
- - ["ref", "alt"] form using single-capitalized-letter amino acid codes (example: '["G","A"]')
- - [ref, alt] form using single-capitalized-letter amino acid codes (example: '[G,A]' or '[G, A]')

Four columns named 'chr', 'pos', 'ref', and 'alt':
- 'chr' is a string beginning with 'chr' (example: 'chr1')
- 'pos' is an integer (example: 925963)
- 'ref' is a single-capitalized-letter string of an amino acid code (example: 'G')
- 'alt' is a single-capitalized-letter string of an amino acid code (example: 'A')

The single column formatting may be used with a column name other than 'Variant ID' if the '--variant-id-col' argument is supplied while calling run.py. 

Additionally, allele counts for cases and controls of each variant is required. These must be in integer formats, under columns named 'ac_case' or 'case' and 'ac_control' or 'control'. If alternate column names are used, this can be accounted for through the '--ac-case-col' and '--ac-control-col' arguments used while calling run.py. 